.reservation__form {
  max-width: 385px;
  background-color: transparent;
  margin: 0 auto;
  border: 0;
}

.form__label {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
  flex-direction: column;
}

.form__item {
  margin-bottom: 32px;
  box-sizing: border-box;
  height: 60px;
  border: 0;
  width: 100%;
  padding: 15px 20px;
}

.form__item::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #2f80ed;
  border: 0;
  margin-bottom: 32px;
}

.form__item_el_agreement-checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__label_checkbox {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  flex-direction: row;
}

.form__fieldset {
  border: none;
}

.form__button:hover {
  opacity: 70%;
}
