.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 183px 0 0;
  max-width: 709px;
}

.header__span-accent {
  font-style: italic;
  color: #2f80ed;
  display: block;
  font-size: 58px;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  list-style-type: none;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 0;
}

.header__paragraph {
  left: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
