.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  max-width: 385px;
  background-color: transparent;
  margin: 0 auto;
  border: 0;
}
